.favorite-container{
    background: #EB5757;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414141, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414141, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    padding: 0.3rem 0.9rem;
    top: 3%;
    right: 2%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    animation: lateral ease 1.5s;
}

.favorite-container img {
    width: 20px;
}

@keyframes lateral{
    from {
        transform: translateY(-300%);
    } to {
        transform: translateY(0);
    }
}